%h1 Upadate profile
.row
  .cod-md-6.cod-md-offset-3
    = form_for @user,:html => {:multipart=> true , :name =>"edit_user"} do |f|
      %p
        = f.label :Name
        = f.text_field :name
      %p
        = f.label :Phone
        = f.text_field :phone
      %p
        = f.label :Address
        = f.text_field :address
      %p
        = f.label :Password
        = f.password_field :password
      %p
        = f.label :Confirmation
        = f.password_field :password_confirmation 
      = f.file_field :avatar
      = f.submit "Save changes"
:javascript
$(document).ready(function () {

    $("#edit_user").validate({
      
        rules: {
            "user[name]": {
                required: true
            },
            "user[password_confirmation]":{

              equalTo: "#user_password"
            }
        }
    });

});


