

%h1 Upadate profile
%p
  = @users
.row
  .cod-md-6.cod-md-offset-3
    = form_for @user,:html => {:multipart=> true ,:name=>"edit_user", :id=>"edit_user"} do |f|
      %p
        = f.label :Name
        = f.text_field :name  
      %p
        = f.label :Phone
        = f.text_field :phone  , :class =>"phone-address"        
      %p
        = f.label :Address
        = f.text_field :address  ,:class =>"phone-address"        
      %p
        = f.label :Password
        = f.password_field :password       
      %p
        = f.label :Confirmation
        = f.password_field :password_confirmation 
        
      = f.file_field :avatar
      = f.submit "Save changes", :id =>"commit"

:javascript
  $("#edit_user").keyup(function (){
  
    $("#edit_user").validate({
    
       onfocusout: function(element) 
       {
         $(element).valid();
       },
       
       
      rules:{
        "user[name]": {
          required: true},
        "user[phone]": {
          required_group: [1 , ".phone-address"],
          number: true
        },
        "user[address]":{
          required_group:[1 , ".phone-address"]
        },
        "user[password]": {minlength: 6},
        "user[password_confirmation]": {equalTo: "#user_password"}
      } 
      
    }); 
  });
  
