%script{:type => "text/javascript", :src  => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
%h1 Sign up
.row
  .cold-md-6.cod-md-offset-3
    = form_for @user, :html => { :multipart => true , :name => 'new_user'} do |f|
      
      %p
        = f.label :name
        = f.text_field :name 
        %label.error#name_error
      %p
        = f.label :email
        = f.text_field :email 
        %label.error#email_error
      %p
        = f.label :password
        = f.password_field :password 
        %label.error#password_error
      %p
        = f.label :password_confirmation
        = f.password_field :password_confirmation
        %label.error#password_confirmation_error
      %p
        = f.file_field :avatar
        = f.submit "Create account"
:javascript
  $(document).ready(function () {
    $("#new_user").validate({
      onkeyup: true,
      rules:{  
        "user[name]": {required: true},
        "user[email]": {email: true, 
                        remote:"/users/check_email" },  
        "user[password]":{required:  true,
                        minlength: 6},
        "user[password_confirmation]": {equalTo: "#user_password"}
      }
    });
  });
